body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.color-span{
    color: orange;
}
.flexible-display{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(tomato, orange);
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.right-banner{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.experiences-item{
    box-shadow: 10px 10px 40px gray;
    width: 700px;
    height: 405px;
    margin-left: 5%;
    margin-bottom: 10%;
    border-left: 6px solid tomato;
    border-radius: 10px;
    padding-left: 40px;
    
    
}
.experiences-item1{
    box-shadow: 10px 10px 40px gray;
    width: 600px;
    height: 405px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    border-left: 6px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    padding-left: 40px;
    border-radius: 10px;
}
.left-banner{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}
footer p{
    text-align: center;
}